/*All code, unless marked, was made by me.*/
body, html{
width: 100%;
height: 100%;
margin: 0;
}

#navbar{
margin-bottom: 20px;
}
nav ul{
list-style-type: none;
margin: 0;
padding: 0;
background: white;
overflow: hidden;
background: rgba(0,0,0,0.3);
border-bottom: 1px solid black;
}
nav li{
float: center;
}

nav li a{
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: background 0.25s, color 0.15s;
font-family: 'Alegreya';
}

nav li a:hover{
background:  #324aa8;
color: white;
}

nav li a:active{
color: #ffc60d;
}
/*Sticky code found online*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
z-index: 3;
}
.sticky + .content {
  padding-top: 60px;
}
#navActive{
color: red;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 150px;    /* Footer height */
}
footer{
width: 100%;
height: 150px;
text-align: center;
position: absolute;
bottom: 0;
background: linear-gradient(to right, #324aa8, #ffc60d);
padding: 10px;
float: clear;
}
#footerlinks a{
color: white;
text-decoration: none;
}
#footerlinks a:hover{
color: white;
text-decoration: underline;
}
.name{

}
.hidden{
display: none;
}


#bottomlink{
text-decoration: none;
color: black;
}
#bottomlink:hover{
text-decoration: underline;
}



hr{
width: 100%;
height: 1px;
background-color: gray;
}
